


/*About Me*/

h2 {
	text-align: center;
	color: black;
	font-size: 40px;
	font-family: 'Montserrat', sans-serif;
}
p {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	color: black;"
}

/*Connent with Me*/

h3 {
	text-align: left;
	color: black;
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
}

/*sidebar*/

.img-link {
	float: left;
	margin-left: 23px;
	width: 50px;
	height: 50px;
}
/*footer*/

#footer {
	background-position: bottom;
	background-color: #f2f4f7;
	text-align: center;
	margin-bottom: 0px;
}

/* adds transparent around about me, sidebar, portfolio & contact page */
.panel {
	background-color: transparent;
	border: transparent;
}

#portsidebar {
	float: left;
}

/*adds boarder around GITHUB link */

#git {
	border: 5px solid #fff;
}

/* adds more text space to message box */

#message {
	height: 200px;
	width: 500px;
}

/* Contacts Page */

.panel-body-1 {
	color: black;
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;

}
.submit {
	background-color: transparent;
}

label {
	padding: 10px;
	width: 235px;
	text-align: center;
	background-color: transparent;
	color:black;
}

#heroku {
	height: 100px;
	width: 100px;
}




